<div class="Slider">
  <div class="slideContainer">
    <img src="assets/Images/img1.jpg" class="slide active" alt="">
    <img src="assets/Images/img3.jpg" alt="" class="slide">
    <img src="assets/Images/img2.jpg" alt="" class="slide">
  </div>

  <div class="inputs">
    <input type="submit" value="Next" (click) = "plusSlides(1)">
    <input type="submit" value="Prev" (click) = "plusSlides(-1)">
    <input type="submit" value="Slide"(click) = "StartSlider()">
    <input type="submit" value="Stop" (click) = "StopSlider()">
  </div>
</div>
